# Dependências
node_modules/
backend/node_modules/
frontend/node_modules/

# Python
__pycache__/
*.py[cod]
.venv/
backend/.venv/

# Variáveis de Ambiente e Segredos (CRÍTICO)
.env

# Banco de Dados (Docker Volume)
pgdata/

# Uploads locais
backend/uploads/

# Build do Frontend
frontend/dist/

# Logs e Sistema
*.log
.DS_Store
